/*CSS Reset*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/*CSS Reset*/

/*整体样式*/
/*可能由于codepen的问题，body的背景样式只好内联到html里面去了*/
header,footer{height:50px;background-color:black;width:100%;}
footer{color:white;text-align:center;verticle-align:middle;line-height:50px;}
body{background-color:gray;}
article,aside{margin:20px;padding:40px 20px;background-color:white;box-shadow:3px 2px 5px #111}
h2{font-size:1em;color:#dedede;}
/*整体样式*/

/*功能*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/*功能*/

/*两栏自适应布局*/
.container{position:relative;}
.main{float:left;width:100%;}
aside{width:400px;position:absolute;margin-left:-400px;box-sizing:border-box;top:0;right:0;}
.articlePanal{margin-right:420px;}
/*两栏自适应布局*/

/*header*/
.logo{height:50px;}
nav{float:right;line-height:50px;vertical-align:middle;}
nav a{text-decoration:none;color:white;margin-right:20px;}
nav a.active{color:gray;}
/*header*/

/*article*/
.author{font-size:0.8em;color:gray;margin-right:15px;}
.firstP{text-indent:2em;}
article img{height:200px;margin:20px 0px;}
article ul{list-style:none;margin-left:20px;}
article ol{margin:20px;}
/*article*/

/*imgGallery*/
.imgGallery{height:150px;display:block;width:200px;text-align:center;border:1px solid black;padding:10px 0px;margin:10px;float:left;}
.imgGallery img{height:100px;margin-top:15px;}
/*imgGallery*/

/*table*/
table{width:100%;border-collapse: collapse;}
table, th, td {border: 1px solid gray;}
td,th{padding:3px;}
th{background-color:black;color:white;text-align:left;font-weight:bold;}
.tableEnd td{background-color:gray;color:#111;border:0px;}
/*table*/

/*aside*/
aside h1{border-left:5px solid gray;padding-left:20px;verticle-align:middle;}
.inputGroup {width:400px;margin:15px auto;}
.inputGroup label{width:150px;display:inline-block;text-align:right;}
.inputGroup .alert{color:gray;margin-left:153px;margin-top:5px;}
.inputGroup textarea{max-height:200px;max-width:200px;}
.submitBtn{display:inline-block;width:100%;height:50px;color:white;background-color:#3355d0;border-radius:15px;}
/*aside*/