/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

body{font-family:"Microsoft Yahei";background-color: gray;}

.colorPicker{
  background-color:white;
  width:620px;
  position:relative;
  overflow:hidden;
}

span.circle{
  border:4px solid red;
  border-radius:100%;
  width:8px;
  height:8px;
  display:block;
  position:absolute;
  box-shadow:0px 0px 6px black;
}

#onBar{
 left:406px; 
  top:-6px;
}

#onPanal{
  top:-6px;
  left:-6px;
}

.numPanal{
  float:right;
  padding-top:15px;  
  font-size:15px;
  font-family:"Microsoft Yahei";
}
.numPanal hr{
  margin-top:5px;
  margin-bottom:15px;
  border:1px solid #e5e5e5;
}

.numPanal .item label{
  margin-right:5px;
  font-weight:bold;
}

.numPanal .item input {
  height:45px;
  margin-bottom:15px;
  margin-right:5px;
  border:1px solid #dddddd;
  box-sizing:border-box;
  padding-left:5px;
  border-radius:5px;
}